/* Frontpage hero image */
.hero-image {
  background-image: url("/images/pexels-matt-hardy-2658452.jpg");
  height: 40vw; /* Var tidligere 55vw */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Heading on hero image - "Velkommen" */
.hero-image h1 {
  color: rgb(185, 134, 40);
  text-align: center;
  font-size: 5.5vw;
  text-shadow: 1px 1px #000000;
  margin-bottom: 4px;
}

/* Credit text in the corner on the pictures */
.picture-text-hero-image {
  color: rgba(0, 0, 0, 0.431);
  font-size: calc(9px + 0.5vw);
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Section with the 4 pictures leading to the other pages */
#frame-index {
  margin: 15px;
}

/* For smaller screens (Ipad pro and down), 
view index picture under each other  */
@media screen and (min-width: 1370px) {
  /* MÅ ENDRES + TEKST STØRRELSE, VISES EN OG EN PÅ PC OGSÅ */
  .text-division {
    display: flex;
  }
}

/* Pictureframe division, the four pictures */
.index-box {
  flex: 1;
  height: 500px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
}

/* Links in the heading of each picture */
h2 a {
  text-decoration: none; /* no underline */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
  text-decoration: none;
  text-shadow: 0.5px 0.5px #000000;
  padding: 1.8%;
  font-size: calc(15px + 2vw);
}

h2 a:hover {
  color: #d98d00c1;
}

/* Text under each heading */
.index-box p {
  font-size: 20px;
  color: aliceblue;
  text-shadow: 1px 1px #000000;
}
/* ATTENTION: THESE TWO (↑ and ↓) ARE DOING THE SAME (?): .index-box p (OVER) and .hero-text > p (UNDER) IN ADDITION
   .hero-text isn't used for anything else - OBS: both are used further down 
   (I moved them up to easier see) */

/* Hero text for every following hero picture */
.hero-text > p {
  font-size: 1.4vw;
}

/* Bigger picture for large screens */
@media screen and (min-width: 2000px) {
  .index-box {
    height: 750px;
  }
}

/* Shorter picture on phone - easier to scroll */
@media screen and (max-width: 550px) {
  .index-box {
    height: 250px;
  }
}

/* Making sure the heading and text doesn't get too small */
@media screen and (max-width: 1370px) {
  .hero-text > p {
    font-size: 2.5vw;
  }
  .hero-image h1 {
    font-size: 6vw;
  }
}

/* The following are the 4 separate pictures */

/* Image from: https://www.pexels.com/photo/houses-in-the-mountains-5204801/ */
.image-booking {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.183);
  background-image: url("/images/pexels-anastasiia-horbachenko-5204801.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Image from: https://www.pexels.com/photo/black-rocky-mountain-under-the-blue-sky-5345384/ */
.image-meny {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.183);
  background-image: url("/images/pexels-liam-spicer-5345384.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Image from: https://www.pexels.com/photo/snow-sea-landscape-water-5334316/ */
.image-accessibility {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.183);
  background-image: url("/images/pexels-christian-pfeifer-5334316.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Image from: https://www.pexels.com/photo/back-view-of-a-person-walking-along-the-seashore-2602545/ */
.image-topical {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.183);
  background-image: url("/images/pexels-matt-hardy-2602545.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
