* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }
  

.introduction> p {
  margin-bottom: 10px;
}

.introduction{
  letter-spacing: 1px;
  padding-top: 20px;
  width: 50%;
  margin: auto;
}

@media screen and (max-width: 1000px) {
  .introduction{
    width: 0%;
  }
}

/*Button, on booking and meny*/
.button {
  background-color: rgba(217, 141, 0, 0.228);
  border: 5px solid rgb(217, 141, 0);
  color: rgb(175, 114, 0);
  padding: 15px 32px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button:hover{
  color: white;
  border-style: inset;
  background-color: rgb(174, 113, 0);
}

/* center*/ 
.center{
  margin: auto;
}

/* text colour */ 
.orange{
  color: #d98d00;
  }
  
.green{
  color: #008000;
}
