/* Navigation bar and hero image styling in style.css */

/* Menu */
article > div {
  align-items: center;
  display: flex;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

article > p {
  margin-bottom: 10px;
}

/* All the food, and the drinks */
.food-group {
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

/* Forrett, hovedrett, dessert, kaffe, etc. */
.singel-food-group {
  width: 20%; /* Should be 25%? */
  margin: 20px 40px 20px 40px;
}

/* Heading in each group */
h2 {
  font-size: 27px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Classes "orange" and "green" can be found in style.css */

/* Decoration for allergy paragraph */
.allergener {
  margin-top: 15px;
  text-align: left;
  font-size: 14px;
  color: rgb(128, 128, 128);
}

/* Button holder for the menu */
.button-holder-meny {
  width: 350px;
  text-align: center;
  margin: auto;
}

/* Space for the button */
#space-button {
  margin-top: 50px;
}

button {
  margin-top: 10px;
}

/* Screens smaller than 1000px will have the food groups displayed under each other
- for a more phone friendly experience */
@media screen and (max-width: 1000px) {
  .singel-food-group {
    width: 60%; /* Used to be 400px */
    padding-bottom: 30px; /* Wasn't here before */
    border-bottom: 0.5px solid; /* Wasn't here before */
  }

  article > div {
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* Footer styling in style.css */
