/* Menu */
article > div {
  align-items: center;
  display: flex;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

article > p {
  margin-bottom: 10px;
}

/* All the food, and the drinks. */
.food-group {
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

/* Forrett, hovedrett, dessert, kaffe, etc. */
.singel-food-group {
  width: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

/* Button holder for the menu */
.button-holder-meny {
  width: 350px;
  text-align: center;
  margin: auto;
}

/* Space for the button */
#space-button {
  margin-top: 50px;
}

button {
  margin-top: 10px;
}

/* Decoration for allergy paragraph */
.allergener {
  margin-top: 15px;
  text-align: left;
  font-size: 14px;
  color: rgb(128, 128, 128);
}

/* After 1000px the 3 food groups are displayed under and over eachother
- makes a more phone friendly experience */
@media screen and (max-width: 1000px) {
  .singel-food-group {
    width: 400px;
  }

  article > div {
    margin-left: 0px;
    margin-right: 0px;
  }
}
