* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html, body{
   
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }
  
.introduction{
  letter-spacing: 1px;
}

body{
    margin: 0;
    place-items: center;
    
}

.card{
    width: 360;
    border-radius: 10px;
}

.swiper-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0 0px;
}

.swiper, .swiper-pagination, .swiper-pagination-bullet {
    background: #ffffff;
}

.swper-horizontal, .swiper-pagination-bullets, .swiper-pagination-hotizontal{
    bottom: 0px;
}

/* here you will find pictures and picture text*/ 

/* Hero image index*/
.hero-image {
  background-image:url("/images/pexels-matt-hardy-2658452.jpg");
  height: 55vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  min-width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}

/*General picture text*/
.picture-text {
  color: rgba(255, 255, 255, 0.92);
  font-size:calc(6px + 0.5vw);
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/*Picture text for hero image Index*/
.picture-text-hero-image {
  color: rgba(0, 0, 0, 0.431);
  font-size:calc(9px + 0.5vw);
  position: absolute;
  bottom: 8px;
  left: 16px;
}



/* The pictures on INDEX */

/* Image from: https://www.pexels.com/photo/houses-in-the-mountains-5204801/ */
.image-booking {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.183);
  background-image:url("/images/pexels-anastasiia-horbachenko-5204801.jpg");

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Image from: https://www.pexels.com/photo/black-rocky-mountain-under-the-blue-sky-5345384/ */
.image-meny {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.183);
  background-image:url("/images/pexels-liam-spicer-5345384.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


/* Image from: https://www.pexels.com/photo/snow-sea-landscape-water-5334316/ */
.image-accessibility {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.183);
  background-image:url("/images/pexels-christian-pfeifer-5334316.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Image from: https://www.pexels.com/photo/back-view-of-a-person-walking-along-the-seashore-2602545/ */
.image-topical {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.183);
  background-image:url("/images/pexels-matt-hardy-2602545.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Hero image on pages + text */
.hero-page-text{
font-size:calc(6vw + 15px);
color: rgb(217, 141, 0);
}

/* Image from: https://www.pexels.com/photo/black-rocky-mountain-under-the-blue-sky-5345384/ */
.hero-image-meny {
box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.500);
background-image:url("/images/pexels-liam-spicer-5345384.jpg");
height: 20vw;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

/* Image from: https://www.pexels.com/photo/houses-in-the-mountains-5204801/ */
.hero-image-booking {
box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.500);
background-image:url("/images/pexels-anastasiia-horbachenko-5204801.jpg");
height: 20vw;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

/* Image from: https://www.pexels.com/photo/snow-sea-landscape-water-5334316/ */
.hero-image-accessibility {
box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.500);
background-image:url("/images/pexels-christian-pfeifer-5334316.jpg");
height: 20vw;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

/* Footer at the bottom of the page with info */
footer {
  margin-top: 40px;
  height: 100%;
  width: 100%;
  background: #2c2824;
  color: #969696;
  font-size: 13px;
  text-align: center;
}

/* Heading in footer */
.fotter-main-text {
  font-size: 15px;
  padding-bottom: 15px;
}

/* Overall flex layout in footer */
.footer-boxes {
  display: flex;
  align-items: center;
}

/* Boxes in footer */
.individual-boxes {
  width: 30%;
  margin-bottom: 10px;
  margin-top: 20px;
  flex-grow: 1;
  line-height: 1.3;
  justify-content: center;
}

/* Logo in the footer */
.individual-boxes > img {
  width: 80px;
}

/* Copyright sign at the bottom */
.copyright {
  text-align: left;
  font-size: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}

/* New layout when screen is 500px wide */
@media screen and (max-width: 500px) {

  .footer-boxes {
    flex-direction: column;
    align-items: center;
  }
  .individual-boxes {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
  }
}



